footer {
  display: flex;
  flex-direction: row;
  max-height: 200px;
  background-color: #adbea2;
  justify-content: space-between;
  padding: 40px;
  overflow: hidden;
  align-items: center;
}

.logo-desa img {
  max-height: 100px;
  padding: 16px;
}

h2 {
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #355640;
  margin-bottom: 10px;
}

p {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #355640;
}
