html {
    scroll-behavior: smooth;
}

header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

    /* NAVBAR */

nav {
    display: flex;
    flex-direction: row;
    background-color: #312d2d30;
    height: 80px;
    padding-left: 40px;
    padding-right: 40px;
    justify-content: space-between;
    position: relative;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo > img {
    height: 50px;
}

.logo > p {
    padding-left: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: white;
}

.nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-links > li {
    list-style: none;
    padding: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.nav-links > li > a {
    text-decoration: none;
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
    padding: 8px 16px;
    border-radius: 4px;
}

.nav-links > li > a:hover {
    background-color: slategray;
    color: white;
}

    /* HERO SECTION */

.hero {
    width: 100%;
    height: 100vh; /* Full viewport height */
    overflow: hidden;
}

.hero-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover; /* Ensures the image covers the container */
    z-index: 1;
    overflow: hidden;
}

.text-elements {
    position: absolute;
    z-index: 2;
    color: white;
    transform: translate(-50%, 100%); /* Centers the text elements */
    text-align: center;
    top: 53%;
    left: 50%;
    opacity: 0;
    animation: revealUp 1s ease-out forwards 0.5s;
}

@keyframes revealUp {
    to {
        opacity: 1;
        transform: translate(-50%, -50%); /* Centers the text elements */
        top: 53%;
        left: 50%;
    }
}

.text-elements h1 {
    font-size: 7rem;
    margin: 8px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.text-elements p {
    font-size: 1.5rem;
    margin: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.hero-fg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover; /* Ensures the image covers the container */
    z-index: 3;
    overflow: hidden;
}

    /* ABOUT SECTION */

.tentang-desa {
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.map {
    width: 100vh;
    height: 100vh;
    position: relative;
}

iframe {
    width: 100vh;
    height: 100vh;
    border: 0; /* Menghilangkan border */
}

.about {
    margin: 65px;
}

.about > h1 {
    color: #355640;
    font-size: 3.5rem;
    margin: 0px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.about > p {
    color: #355640;
    margin-top: 32px;
    font-size: 12px;
    font-family: "Lora", serif;
    line-height: 20px;
    font-weight: 200;
    font-style: normal;
}

.about > button {
    background-color: #355640;
    border-style: none;
    border-radius: 32px;
    padding: 16px 32px;
    margin-top: 32px;
    float: right;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: white;
}

.about > button:hover {
    background-color: #dd8823;
}

  /*WISATA SECTION---------------------------------*/

.wisata {
    width: 100%;
    height: 100%; /* Full viewport height */
    overflow: hidden;
}

.wisata > img {
    width: 100%;
    height: 350px;
    position: absolute;
}

.wisata-container {
    z-index: 7;
    margin: 54px;
    position: relative;
    align-content: center;
    padding-left: 60px;
    padding-right: 60px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 60px;
}

.produk,
.karian {
    flex: 1;
}

.produk > img {
    width: 100%;
    height: auto;
}

.produk > h2 {
    color: #355640;
    font-size: 2rem;
    margin-top: 16px;
    margin-bottom: 0px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.produk > p {
    color: #355640;
    margin-top: 8px;
    font-size: 14px;
    font-family: "Lora", serif;
    line-height: 20px;
    font-weight: 200;
    font-style: normal;
}

.produk {
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.produk:hover {
    background-color: slategray; /* Mengubah warna latar belakang saat dihover */
    box-shadow: 0 4px 8px slategray;
}

.produk:hover > h2 {
    color: orange;
}

.produk:hover > p {
    color: orange;
}

.produk-container {
    cursor: pointer;
    text-decoration: none; /* Menghapus garis bawah pada elemen <a> */
    color: inherit; /* Mengatur warna teks agar sesuai dengan elemen <div> */
}

.karian > img {
    width: 100%;
    height: auto;
}

.karian > h2 {
    color: #355640;
    font-size: 2rem;
    margin-top: 16px;
    margin-bottom: 0px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.karian > p {
    color: #355640;
    margin-top: 8px;
    font-size: 14px;
    font-family: "Lora", serif;
    line-height: 20px;
    font-weight: 200;
    font-style: normal;
}

.karian {
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.karian:hover {
    background-color: slategray; /* Mengubah warna latar belakang saat dihover */
    box-shadow: 0 4px 8px slategray;
}

.karian:hover > h2 {
    color: orange;
}

.karian:hover > p {
    color: orange;
}

.karian-container {
    cursor: pointer;
    text-decoration: none; /* Menghapus garis bawah pada elemen <a> */
    color: inherit; /* Mengatur warna teks agar sesuai dengan elemen <div> */
}

  /*BANNER*/

    /*BANNER WISATA*/

.wisata-swiper {
    width: 100%;
    height: 100%; /* Full viewport height */
    overflow: hidden;
}

.carousel-wisata {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.carousel-wisata-slide {
    display: flex;
    transition: transform 1s ease-in-out;
    height: 100%;
}

.carousel-wisata-item {
    min-width: 100%;
    position: relative;
    height: 100%;
}

.carousel-wisata-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-wisata-text {
    position: absolute;
    z-index: 2;
    color: white;
    transform: translate(0, -50%); /* Centers the text elements */
    text-align: left;
    top: 50%;
    left: -30%;
    opacity: -5;
    animation: revealRight 1s ease-out forwards 0.001s;
}

@keyframes revealRight {
    to {
        opacity: 1;
        transform: translate(0, -50%);
        top: 50%;
        left: 8%;
    }
}

.carousel-wisata-item.active .carousel-wisata-text {
    opacity: 1;
}

.carousel-wisata-text p {
    font-size: 1rem;
    margin: 16px;
    font-family: "Lora", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.carousel-wisata-text h1 {
    font-size: 7rem;
    margin: 8px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

    /*BANNER KEGIATAN*/

.kegiatan-masyarakat {
    width: 100%;
    height: 100vh; /* Full viewport height */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-kegiatan {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
}

.carousel-kegiatan-slide {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
}

.carousel-kegiatan-item {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.carousel-kegiatan-item.active {
    opacity: 1;
}

.carousel-kegiatan-text {
    width: 60%;
    color: #355640;
    text-align: left;
    font-family: "Poppins", sans-serif;
    justify-content: center;
}

.carousel-kegiatan-image {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-kegiatan-image img {
    width: 80%;
    height: auto;
    object-fit: contain;
}

.carousel-kegiatan-text p {
    font-size: 1rem;
    margin: 16px;
    font-family: "Lora", sans-serif;
    font-weight: 400;
}

.carousel-kegiatan-text h2 {
    font-size: 2.2rem;
    margin: 8px;
    font-weight: 600;
}

    /*DATA DESA SECTION---------------------------------*/

.data-desa-spanduk {
    width: 100%;
    height: 300px; /* Full viewport height */
    overflow: hidden;
}

.data-desa-image {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    object-fit: cover; /* Ensures the image covers the container */
    z-index: 1;
    overflow: hidden;
}

.data-desa-text {
    position: relative;
    z-index: 2;
    color: white;
    transform: translate(-50%, 100%); /* Centers the text elements */
    text-align: center;
    top: 53%;
    left: 50%;
    opacity: 0;
    animation: slideInUp 1s ease-out forwards 0.5s;
}

@keyframes slideInUp {
    to {
        opacity: 1;
        transform: translate(-50%, -150%); /* Centers the text elements */
        top: 53%;
        left: 50%;
    }
}

.data-desa-text h1 {
    font-size: 7rem;
    margin: 8px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.data-desa-text p {
    font-size: 1rem;
    margin: 16px;
    font-family: "Lora", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.data-desa {
    margin: 30px;
    margin-top: 77px;
}

.data-desa-info h2 {
    color: #355640;
    font-size: 3rem;
    margin-left: 70px;
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.data-desa-info p {
    color: #355640;
    margin-top: 22px;
    margin-left: 70px;
    font-size: 1rem;
    font-family: "Lora", serif;
    line-height: 20px;
    font-weight: 200;
    font-style: normal;
}

.data-desa-card .cardbase {
    display: flex;
    width: calc(100% - 200px); /* Full width minus 70px margin on both sides */
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.card-left,
.card-right {
    padding: 5px;
    position: relative;
    display: grid;
    /* grid-template-rows: 1fr 1fr; /* Two equal rows */
    /* gap: 10px; /* Gap between rows */
}

.card-left {
    flex: 25%;
    background-color: #355640;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1; /* Ensures it stays below the right card */
    border-radius: 20px;
}

.card-right {
    flex: 75%;
    background-color: #fff;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: -20%; /* Makes the right card overlap the left card */
    z-index: 2; /* Ensures it stays above the left card */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adds shadow to create a layered effect */
    border-radius: 20px; /* More rounded corners */
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.text-container {
    margin: 10px;
    padding: 10px;
    background: transparent;
    border-radius: 5px;
    font-style: normal;
    vertical-align: top;
}

.card-left .text-container {
    width: 25%; /* Ensures text containers only take up 1/4 of the left card */
    align-self: start;
    margin-top: 10px;
    vertical-align: text-top;
}

.card-right .text-container {
    color: #355640;
}

.text-container h2 {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-size: 2.3rem;
}

.text-container p {
    margin: 0;
    font-family: "Lora", sans-serif;
    font-weight: 20;
    font-size: 1rem;
}

.text-container-bottom-left {
    width: 25%; /* Ensures text containers only take up 1/4 of the left card */
    align-self: start; /* Align text container to the start of the row */
    font-family: "Poppins", sans-serif;
    font-size: 1.75rem;
    margin: 10px;
    padding: 10px;
    background: transparent;
    border-radius: 5px;
    font-style: normal;
    /*vertical-align: top;*/
}

.data-desa-button {
    margin-right: 25px;
    margin-top: 14px;
    margin-bottom: 32px;
}

.data-desa-button > button {
    background-color: #355640;
    border-style: none;
    border-radius: 32px;
    padding: 16px 75px;
    margin-top: 40px;
    margin-right: 70px;
    float: right;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: white;
}

.data-desa-button > button:hover {
    background-color: #dd8823;
}

 /* POTENSI DESA SECTION---------------------------------*/

.potensi-desa h2 {
    color: #355640;
    font-size: 3rem;
    margin-left: 95px;
    margin-top: 70px;
    margin-bottom: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.potensi-desa-container {
    margin-top: 40px;
    z-index: 1;
    position: relative;
    display: inline-block;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
}

.kolom-kiri,
.kolom-tengah,
.kolom-kanan {
    display: inline-block;
    margin-left: 12px;
    margin-right: 12px;
    flex: 1;
}

.kolom-kiri h1 {
    margin-top: 6px;
    margin-left: 10px;
    margin-right: 2px;
    text-align: center;
    float: center;
}

.kolom-tengah h1 {
    margin-top: 6px;
    margin-left: 10px;
    margin-right: 2px;
    text-align: center;
    float: center;
}

.kolom-kanan h1 {
    margin-top: 6px;
    margin-left: 10px;
    margin-right: 2px;
    text-align: center;
    float: center;
}

.kolom-kiri p {
    margin-left: 20px;
    margin-right: 10px;
    text-align: center;
    float: center;
}

.kolom-tengah p {
    margin-left: 20px;
    margin-right: 10px;
    text-align: center;
    float: center;
}

.kolom-kanan p {
    margin-left: 20px;
    margin-right: 10px;
    text-align: center;
    float: center;
}

.potensi-desa-tabel h3 {
    color: #355640;
    font-size: 3rem;
    margin-left: 12px;
    margin-top: 0px;
    margin-bottom: 2px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
}

.potensi-desa-tabel h1 {
    color: #355640;
    font-size: 5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    display: inline-block;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.potensi-desa-tabel p {
    color: #355640;
    font-size: 1rem;
    font-family: "Lora", serif;
    line-height: 20px;
    font-weight: 200;
    font-style: normal;
    display: inline-block;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.potensi-desa-tabel h4 {
    background-color: #355640;
    border-style: none;
    border-radius: 12px;
    padding: 16px 75px;
    float: top;
    align-content: center;
    text-align: center;

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: white;
    justify-content: center;
    align-items: center;
}

/* BATAS DESA SECTION---------------------------------*/

.batas-wilayah h2 {
    color: #355640;
    font-size: 3rem;
    margin-left: 95px;
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.batas-wilayah-card .other-cardbase {
    display: flex;
    width: calc(100% - 200px); /* Full width minus 70px margin on both sides */
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.other-card-left,
.other-card-right {
    padding: 15px;
    position: relative;
    display: grid;
    /* grid-template-rows: 1fr 1fr; /* Two equal rows */
    /* gap: 10px; /* Gap between rows */
}

.other-card-left {
    flex: 40%;
    background-color: #355640;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1; /* Ensures it stays below the right card */
    border-radius: 20px;
}

.other-card-right {
    flex: 60%;
    background-color: #fff;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: -20%; /* Makes the right card overlap the left card */
    z-index: 2; /* Ensures it stays above the left card */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adds shadow to create a layered effect */
    border-radius: 20px; /* More rounded corners */
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.other-text-container {
    margin: 5px;
    padding: 5px;
    background: transparent;
    border-radius: 5px;
    font-style: normal;
    vertical-align: top;
}

.other-card-left .other-text-container {
    width: 40%; /* Ensures text containers only take up 1/4 of the left card */
    align-self: start;
    margin-top: 10px;
    vertical-align: text-top;
}

.other-card-right .other-text-container {
    color: #355640;
}

.other-text-container p {
    margin: 0;
    font-family: "Lora", sans-serif;
    font-weight: 20;
    font-size: 1rem;
}

.other-text-container h4 {
    color: #fff;
    font-size: 1rem;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: bold;
}

/* STRUKTUR DESA SECTION---------------------------------*/

.struktur-desa h2 {
    color: #355640;
    font-size: 3rem;
    margin-left: 95px;
    margin-top: 40px;
    margin-bottom: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.struktur-desa-card .another-cardbase {
    display: flex;
    width: calc(100% - 200px); /* Full width minus 70px margin on both sides */
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.another-card-left,
.another-card-right {
    padding: 15px;
    position: relative;
    display: grid;
    /* grid-template-rows: 1fr 1fr; /* Two equal rows */
    /* gap: 10px; /* Gap between rows */
}

.another-card-left {
    flex: 40%;
    background-color: #355640;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1; /* Ensures it stays below the right card */
    border-radius: 20px;
}

.another-card-right {
    flex: 60%;
    background-color: #fff;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: -20%; /* Makes the right card overlap the left card */
    z-index: 2; /* Ensures it stays above the left card */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adds shadow to create a layered effect */
    border-radius: 20px; /* More rounded corners */
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.another-text-container {
    margin: 5px;
    padding: 5px;
    background: transparent;
    border-radius: 5px;
    font-style: normal;
    vertical-align: top;
}

.another-card-left .another-text-container {
    width: 40%; /* Ensures text containers only take up 1/4 of the left card */
    align-self: start;
    margin-top: 10px;
    vertical-align: text-top;
}

.another-card-right .another-text-container {
    color: #355640;
}

.another-text-container p {
    margin: 0;
    font-family: "Lora", sans-serif;
    font-weight: 20;
    font-size: 1rem;
}

.another-text-container h4 {
    color: #fff;
    font-size: 1rem;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: bold;
}

/* ANGGARAN DESA SECTION---------------------------------*/

.anggaran-desa-button {
    margin-right: 25px;
    margin-top: 14px;
    margin-bottom: 32px;
}

.anggaran-desa-button > button {
    background-color: #355640;
    border-style: none;
    border-radius: 32px;
    padding: 16px 75px;
    margin-top: 40px;
    margin-right: 70px;
    float: right;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: white;
}

.anggaran-desa-button > button:hover {
    background-color: #dd8823;
}

/*SARANA DESA SECTION---------------------------------*/

.sarana-desa h2 {
    color: #355640;
    font-size: 3rem;
    margin-left: 95px;
    margin-top: 200px;
    margin-bottom: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.sarana-desa-card {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 0px); /* Full width minus margin */
}

.left-section, .right-section {
    flex: 1;
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-section {
    margin-left: 70px;
}

.right-section {
    margin-right: 70px;
}

.sarana-desa-card .sarana-cardbase-kiri,
.sarana-desa-card .sarana-cardbase-kanan {
    width: 100%;
    max-width: 520px;
}

.sarana-cardbase-kiri {
    float: right;
}

.sarana-cardbase-kanan {
    float: left;
}

.card-top,
.card-bottom {
    position: relative;
}

.card-top {
    background-color: #355640;
    color: #fff;
    z-index: 1; /* Ensures it stays below the bottom card */
    border-radius: 20px 20px 0 0;
    padding: 8px 0 20px 20px;
}

.card-bottom {
    background-color: #fff;
    color: #333;
    margin-top: -20px; /* Overlap the top card slightly */
    z-index: 2; /* Ensures it stays above the top card */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adds shadow to create a layered effect */
    border-radius: 20px 20px 20px 20px; /* More rounded corners */
    padding: 8px 0 20px 20px;
}

.sarana-text-container {
    background: transparent;
    border-radius: 5px;
    font-style: normal;
}

.card-top .sarana-text-container h4 {
    color: #fff;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: bold;
}

.card-bottom .sarana-text-container p {
    font-family: "Lora", sans-serif;
    font-weight: 20;
    font-size: 1rem;
    color: #355640;
}

.sarana-text-container .tabel-kolom-kiri {
    text-align: left;
}

.sarana-text-container .tabel-kolom-kanan {
    text-align: left;
}

.tabel-kolom-kiri th {
    text-align: left;
    width: 40%;
}

.tabel-kolom-kanan th {
    text-align: center;
    width: 60%;
}

.tabel-kolom-kiri td {
    text-align: left;
    width: 40%;
}

.tabel-kolom-tengah td {
    text-align: right;
    width: 40%;
}

.tabel-kolom-kanan td {
    text-align: center;
    width: 20%;
}

/* BACK TO TOP */

.back-to-top > a {
    transition: background-color 0.3s ease, color 0.3s ease;
    float: right;
    margin-top: 32px;
    margin-bottom: 2px;
}

.back-to-top > a:hover {
    background-color: slategray;
}

/* FOOTER */

footer {
    display: flex;
    flex-direction: row;
    max-height: 200px;
    margin-top: 2px;
    width: 100%;
    background-color: #adbea2;
    justify-content: space-around;
    padding: 20px;
    overflow: hidden;
    align-items: center;
}

.logo-desa img {
    max-height: 100px;
    padding: 16px;
}

footer h2 {
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #355640;
    margin-bottom: 10px;
}

footer p {
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #355640;
}
