header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

nav {
  display: flex;
  flex-direction: row;
  background-color: #312d2d30;
  height: 80px;
  padding-left: 40px;
  padding-right: 40px;
  justify-content: space-between;
  position: relative;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo > img {
  height: 50px;
}

.logo > p {
  padding-left: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: white;
}

.nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-links > li {
  list-style: none;
  padding: 24px;

  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.nav-links > li > a {
  text-decoration: none;
  color: white;
}

.hero {
  width: 100vh;
  height: 100vh; /* Full viewport height */
  overflow: hidden;
}

.hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the container */
  z-index: 1;
  overflow: hidden;
}

.text-elements {
  position: absolute;
  z-index: 2;
  color: white;
  transform: translate(-50%, 100%); /* Centers the text elements */
  text-align: center;
  top: 53%;
  left: 50%;
  opacity: 0;
  animation: revealUp 1s ease-out forwards 1s;
}

@keyframes revealUp {
  to {
    opacity: 1;
    transform: translate(-50%, -50%); /* Centers the text elements */
    top: 53%;
    left: 50%;
  }
}

.text-elements h1 {
  font-size: 7rem;
  margin: 8px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.text-elements p {
  font-size: 1.5rem;
  margin: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.hero-fg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the container */
  z-index: 3;
  overflow: hidden;
}

.tentang-desa {
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.map > img {
  width: 100vh;
  height: 100vh;
  object-fit: cover;
}

.about {
  margin: 80px;
}

.about > h1 {
  color: #355640;
  font-size: 3.5rem;
  margin: 0px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.about > p {
  color: #355640;
  margin-top: 32px;
  font-size: 14px;
  font-family: "Lora", serif;
  line-height: 20px;
  font-weight: 200;
  font-style: normal;
}

.about > button {
  background-color: #355640;
  border-style: none;
  border-radius: 32px;
  padding: 16px 32px;
  margin-top: 32px;
  float: right;

  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: white;
}

.about > button:hover {
  background-color: #dd8823;
}

/*WISATA SECTION---------------------------------*/
.wisata {
  width: 100vh;
  height: 110vh; /* Full viewport height */
  overflow: hidden;
}

.wisata > img {
  width: 100%;
  height: 350px;
  position: absolute;
}

.wisata-container {
  z-index: 7;
  margin: 66px;
  position: absolute;
  align-content: center;
  padding-left: 80px;
  padding-right: 80px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 80px;
}

.produk > img {
  width: 400px;
  height: auto;
}

.produk > h2 {
  color: #355640;
  font-size: 2rem;
  margin: 16px;
  margin: 0px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.produk > p {
  color: #355640;
  margin-top: 8px;
  font-size: 14px;
  font-family: "Lora", serif;
  line-height: 20px;
  font-weight: 200;
  font-style: normal;
}

.karian > img {
  width: 400px;
  height: auto;
}

.karian > h2 {
  color: #355640;
  font-size: 2rem;
  margin: 16px;
  margin: 0px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.karian > p {
  color: #355640;
  margin-top: 8px;
  font-size: 14px;
  font-family: "Lora", serif;
  line-height: 20px;
  font-weight: 200;
  font-style: normal;
}

/*BANNER*/

.wisata-swiper {
  width: 100%;
  height: 90vh; /* Full viewport height */
  overflow: hidden;
}

.wisata-swiper > img {
  object-fit: cover;
  width: 100%;
}

.kegiatan-masyarakat {
  width: 100%;
  height: 100vh; /* Full viewport height */
  overflow: hidden;
}
